/* Updated class names to ensure uniqueness */
.factor-modal {
  border: none;
  border-radius: 8px;
  padding: 2rem;
  background-color: #d7fcf8;
}

.factor-modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.factor-modal::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

.factor-modal h2 {
  font-family: 'Handjet', monospace;
  margin: 0 0 0.25rem 0;
  font-size: 3rem;
  text-transform: uppercase;
}

.factor-modal progress {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  accent-color: #46cebe;
}

.factor-modal p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.factor-modal p strong {
  color: #10655b;
}

.factor-modal {
  text-align: right;
}

.factor-modal h1 {
  text-align: center;
}

.factor-modal button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #12352f;
  color: #edfcfa;
  font-size: 1.2rem;
  cursor: pointer;
}

.factor-modal button:hover {
  background: #051715;
}

.factor-modal input,
.factor-modal textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.factor-modal input {
  width: 100%;
  align-items: left;
}
